/* STYLE :- PG-22 */

/* html {
    color: black;
}

p {
    color: gray;
}

h2 {
    color: silver;
} */

/* STYLE :- PG-23 */

/* h2, p {
    color: gray;
}

h1, h2, h3 {
    color: purple;
} */

/* STYLE :- PG-24*/

/* * {
    font-weight: bold;
} */

/* h1 {font: 18px sans-serif;}
h1 {color: purple;}
h1 {background: aqua;}

h1 {font: 18px sans-serif; color: purple; background: aqua}

h1 {
    font: 18px sans-serif;
    color: purple;
    background: aqua;
} */

/* error */
/* h1 {
    font: 18px sans-serif;
    color: purple background: aqua;
} */

/* STYLE :- PG-25 */

/* h1, h2, h3 {
    color: gray;
    background: white;
    padding: 0.5em;
    border: 1px solid black;
    font-family: Charcoal, sans-serif;
} */

/* STYLE :- PG-26 */